#title-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0f0f0f;
  height: 100%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

#down-div {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#down-text {
  color: #fcfcfc;
  font-size: 20px;
  margin-bottom: 0px;
}

#down-button {
  background-color: #0f0f0f;
  width: 100%;
  border: none;
}

#down-button:hover {
  background-color: #212529;
}

.title {
  color: #fcfcfc;
  font-size: 32px;
}
