.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 5%;
}

.title {
  margin-bottom: 0px;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 30px;
  }
}
