.map-title h1 {
  font-size: 30px;
}

.mapdiv-m {
  width: 100vw;
  height: 85vh;
}

.map-container-m {
  display: flex;
  flex-direction: column;
}

.map-info-container-m {
  display: none;
  overflow: auto;
  margin: 20px 0 60px 0;
}

.map-info-detail-m {
  height: 100%;
}

.detail-title-m {
  display: none;
}

.detail-title-m h1 {
  font-size: 35px;
}

.shown-m {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
}

.myanmar-only-m {
  height: 100%;
}

.map-chart-container {
  height: 40vh;
  margin-left: 10vw;
}

g[aria-labelledby='id-2835-title'] {
  visibility: hidden;
}

.splash-container {
  min-height: 0;
  padding: 20px 0px;
}

@media only screen and (max-width: 800px) {
  .map-info-detail {
    font-size: 0.7rem;
  }
}
