.mapdiv-m {
  width: 100vw;
  height: 85vh;
}

.map-container-m {
  display: flex;
  flex-direction: column;
}

.map-info-container-m {
  display: none;
}

.detail-title-m {
  display: none;
}

.shown-m {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10vw;
}

.myanmar-only-m {
  height: 100%;
}

.map-chart-container {
  height: 40vh;
  margin-left: 10vw;
}

@media only screen and (max-width: 800px) {
  .map-info-detail {
    font-size: 0.7rem;
  }
}
