.event-details-text-container {
    color: black;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: 20px;
    text-align: left;
    margin-top: -10px;
  }

  .event-details-title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .event-details-learn-more {
    background-color: rgba(255, 229, 100, 0.3);
    width: 100%;
    padding: 20px 15px 20px 15px;
    border-left: 4px solid #ffe564;
    margin-top: 20px;
  }

  .event-details-learn-more h5 {
    font-weight: bold;
  }